---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="ASR Indic Report">
  <div class="project-report">
  <div style="text-align: center;">
    <h1> <b>Automated Speech Recognition for Indic Language </b></h1>
    <p>
      <!-- Project description and detailed report goes here.-->
    </p>
    <h2>Madhav Labs</h2>
    </div>
    <h2>Professor in charge: Prof. Vipul Arora</h2>
    <br>
    <p>
    <h2><b>Brief Description</b></h2>
    The project aimed at building Automated Speech Recognition models for Indic Languages using Machine Learning. The project has 2 parts,
    with the first part focussing on 
    </p>
  </div>
</BaseLayout>
