---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="ASR Indic Report">
  <div class="project-report">
    <h1>Automated Speech Recognition for Indic Language</h1>
    <p>
      Project description and detailed report goes here.
    </p>
    <h2>Contributors</h2>
    <p>Madhav Labs, IIT Kanpur</p>
  </div>
</BaseLayout>
