---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there</div>
    <div class="text-5xl font-bold">I am Mridul Pandey</div>
   <!--  <div class="text-3xl py-3 font-bold">Software Engineer and Entrepreneur</div> -->
    <div class="py-2">
      <text class="text-lg">
       I am a senior undergraduate at IIT Kanpur, pursuing a B.Tech. with a major in Electrical Engineering and a minor in Computer Science (Machine Learning and Systems). I will graduate in July 2025 and join Graviton Research Capital as a Quantitative Researcher.
        <br>
       Throughout my college life, I have explored various fields, including Electronics, IoT, Programming, Systems, Machine Learning, Probability and Statistics, and Consulting. Of all my explorations, I have found that I love ML and Probability-Statistics the most, while also enjoying occasional competitive programming.<br>

       I have also gained considerable exposure in the consulting world, having interned at BCG as a Summer Associate. I also served as the leader of the IITK Consulting Group (ICG), a student-led group using consulting and Machine Learning to create an impact on society. You can learn more about what ICG does <u><a href="https://www.iitkconsult.org">here</a></u>.
        <br>
       Aside from all this, I love public speaking, which I practiced extensively during my time at ICG and my internship at BCG. Additionally, I enjoy reading psychology and philosophy.
        



      </text>
    </div>
<!--
  <a class="btn" href="https://mail.google.com/mail/?view=cm&to=mridulp21@iitk.ac.in" target="_blank">
    Let's connect!
  </a>
</div>-->

<!--
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
